
 <app-slider></app-slider>
 <div class="row">
     <div class="col-md-10">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ pageTitle }}
                    </div>
                    <div class="panel-body">
                        <div>
                            <input type="text" [(ngModel)] = "listFilter"> Filtered By:{{listFilter}}
                        </div>

                        <div class="alert alert-success" *ngIf="userClickMsg">{{userClickMsg}}</div>

                        <div class="table table-responsive">
                            <table class="table" *ngIf='products && products.length'>
                                <thead>
                                    <tr>
                                        <td>Image</td>
                                        <td>Name</td>
                                        <td>Code</td>
                                        <td>Price</td>
                                        <td>Discount</td>
                                        <td>Offer Price</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tempProd of products|ProductFilter:listFilter">
                                        <td><img src="{{tempProd.prodImg}}" width="100" height="100" /></td>
                                        <td>{{tempProd.productName}}</td>
                                        <td>{{tempProd.productCode}}</td>
                                        <td>{{tempProd.prodPrice}}</td>
                                        <td>{{ discount }}%</td>
                                        <td>
                                            <app-offer-price 
                                            [MRP]="tempProd.prodPrice" 
                                            [prodDiscount]="discount" 
                                            (offerPriceClicked)='onOfferPriceClicked($event)'>
                                        </app-offer-price>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
     </div>
     <div class="col-md-2">
        <app-top-deals></app-top-deals>
     </div>
 </div>


